<div alt="Max-width 100%">
    <div class="d-flex justify-content-center align-items-center">
        <section>
            <h3>Jogos</h3>
            <br><br>
            <div>
                <p> Selecione um jogo: </p>
                <select #jogoSelecionado (change)="0">
                    <option value="Hollow Knight">Hollow Knight</option>
                    <option value="Until Dawn">Until Dawn</option>
                    <option value="The Last of Us">The Last of Us</option>
                    <option value="Remember Me">Remember Me</option>
                </select>
                <br><br>
                <div *ngIf="jogoSelecionado.value == 'Hollow Knight'">
                    O jogo selecionado é Hollow Knight
                </div>
                <div *ngIf="jogoSelecionado.value == 'Until Dawn'">
                    O jogo selecionado é Until Dawn
                </div>
                <div *ngIf="jogoSelecionado.value == 'The Last of Us'">
                    O jogo selecionado é The Last of Us
                </div>
                <div *ngIf="jogoSelecionado.value == 'Remember Me'">
                    O jogo selecionado é Remember Me
                </div>
                <br>
                <div>
                    {{ jogoSelecionado.value }} é o jogo selecionado
                </div>
            </div>
        </section>
    </div>
</div>